@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Croissant+One&family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,600&family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Skranji:wght@700&family=Source+Code+Pro:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#mypic {
    width: 100%; /* Full width */
    height: auto; /* Height adjusts automatically */
    position: relative; /* Required for absolute positioning */
    overflow: hidden; /* Hide overflow content */
  }
  
  /* Default styles */
  #mypic::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Absolute positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

